<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:p="http://java.sun.com/jsf/composite"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd">

    <!-- 扫描的是Controller-->
    <!--第一个是extjs学习里面的controller-->
    <context:component-scan base-package="com.ssi.mvc.web"/>
    <!--<context:component-scan base-package="com.springapp.mvc.controller"/>-->

    <!-- 开启SpringMVC注解模式 -->
    <mvc:annotation-driven/>

    <!-- 静态资源默认servlet配置 -->
    <mvc:default-servlet-handler/>

    <!--注册静态资源在public文件夹下面可以使用-->
    <mvc:resources mapping="/public/**" location="/public/"/>

    <!-- 配置jsp 显示ViewResolver -->
    <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/pages/"/>
        <property name="suffix" value=".jsp"/>
    </bean>


    <!--json格式数据转换的配置  -->
    <bean
            class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter"
            p:ignoreDefaultModelOnRedirect="true">
        <property name="messageConverters">
            <list>
                <bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter" />
            </list>
        </property>
    </bean>


    <mvc:interceptors>
        <!-- 使用bean定义一个Interceptor，直接定义在mvc:interceptors根下面的Interceptor将拦截所有的请求 -->
        <!--<mvc:interceptor>-->
        <!--<mvc:mapping path="/"/>-->
        <!--&lt;!&ndash; 需排除拦截的地址 &ndash;&gt;-->
        <!--&lt;!&ndash;<mvc:exclude-mapping path="/" />&ndash;&gt;-->
        <!--&lt;!&ndash;<mvc:exclude-mapping path="/test" />&ndash;&gt;-->
        <!--&lt;!&ndash; 定义在mvc:interceptor下面的表示是对特定的请求才进行拦截的 &ndash;&gt;-->
        <!--<bean class="com.aisino.util.ParseURLFilter"/>-->
        <!--</mvc:interceptor>-->
        <bean class="com.Utils.ParseURLFilter"/>
    </mvc:interceptors>

</beans>